VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdubGZxbWhra2J4ZGFvYWhwYXNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NDU3MDIsImV4cCI6MjA5MzIyMTcwMn0.kAuYZSBPRYKjEMiMx6tXDzF5ZSF5uDhobzKu5vmf-iU
VITE_API_URL=http://localhost:8000
